
html {
	font-size: 10px;
}

html, body {
	height: 100%;
}
body {
	background: #151515;
	font-size: 1.6rem;
	line-height: 3.2rem;
	color: #6e6e6e;
}

.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}

#intro {
	background: #151515 url(../images/bg1.jpg) no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}
.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .75;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	transform: translateY(-2.1rem);
}

.intro-content h1 {
	color: #FFFFFF;
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: #cc005f;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}


#about {
	background: #FFFFFF;
	padding-top: 6rem;
	padding-bottom: 10rem;
}
#about .section-intro {
	margin-bottom: 2rem;
}

.intro-info {
	margin-top: 3.2rem;
	margin-right: -30px;
	margin-left: -30px;
}
.intro-info img {
	height: 22rem;
	width: 22rem;
	border-radius: 100%;
	margin: .1rem 0 0 0;
	float: left;
}
.intro-info .about_text {
	text-align: left;
	padding-left: 28rem;
}

.content1 .profile-details {
	list-style: none;
	margin-left: 0;
}
.content1 .profile-details li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}
.content1 .profile-details li strong {
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
}
.content1 .profile-details li span {
	display: block;
	color: #888888;
	font-size: 1.5rem;
	line-height: 1;
}

